body {
  font-family: Helvetica, sans-serif;
}

#main,
h1 {
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  /* padding-left: 80px; */
  padding-top: 10px;
  margin-left: -21px;
  color:#fff;
}

body {
  background-image: url('listen.jpg');
  background-size: cover;
}

#main-area{
  /* background: #9e9e9e;
  width: 667px;
    height: 600px;
    background-color: #9e9e9e;
    box-shadow: 1px 1px;
    margin-left: 310px; */
}

#content {
  padding-top: 80px;
  padding-left: 30px;
  padding-left: 112px;
  left: -55px;
}

h1{
  position:relative;
  left: -67px;
}

.audmus{
  position: relative;
  left: 115px;
}

#player{
  justify-content: center;
  position:relative;
  bottom: -51px;
  left: -203px;
  top: 61px;
  width: 561px;
  margin-right: -176px;
}

.info {
  text-align: center;
}

button {
  border-radius: 0.5rem;
  background-color: white;
  border: 1px solid black;
  margin-right: 0.5rem;
  padding: 0.5rem 1rem;

}
